#content {
	top:60px;
	position:relative;
	background-color:rgb(245,245,245);
	padding:20px;
	text-align:left;
}

#nav-bkground {
	background-color:#2196F3;
}

.link-div {
	background-color:white; 
	width:90%;
	height:40px;
	line-height:40px;
	box-shadow: 0px 0px 3px black;
	padding:10px;
	border-radius:4px;
	margin-bottom:10px;
}

.download-link {

text-decoration:none;
color:#2196F3;
font-size:18px;

}