#content {
	top:60px;
	position:relative;
	background-color:rgb(245,245,245);
	padding:20px;
	text-align:center;
}

#nav-bkground {
	
	background-color:#2196F3;
	opacity:1;
	
}

.member-div {
	text-align:center;
	background-color:white; 
	min-height:100px;
	box-shadow: 0px 0px 3px black;
	padding:10px;
	margin:10px;
	border-radius:4px;
	margin-bottom:10px;
	font-weight:300;
}